[project]
	description = A lap splitter tool for exported MapMyRun workouts.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Louise Chan Jr. (timexLChan)
[access "refs/for/refs/*"]
	read = group user/Louise Chan Jr. (timexLChan)
	push = group user/Louise Chan Jr. (timexLChan)
	label-Code-Review = -2..+2 group user/Louise Chan Jr. (timexLChan)
	label-Verified = -1..+1 group user/Louise Chan Jr. (timexLChan)
	rebase = group user/Louise Chan Jr. (timexLChan)
	removeReviewer = group user/Louise Chan Jr. (timexLChan)
	submit = group user/Louise Chan Jr. (timexLChan)
[access "refs/heads/*"]
	read = group user/Louise Chan Jr. (timexLChan)
	create = group user/Louise Chan Jr. (timexLChan)
	push = +force group user/Louise Chan Jr. (timexLChan)
	pushMerge = group user/Louise Chan Jr. (timexLChan)
[access "refs/tags/*"]
	push = group user/Louise Chan Jr. (timexLChan)
	push = +force group user/Louise Chan Jr. (timexLChan)
